@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
    background-color: #232323;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    color: white;
    padding: 124px 7%;
}

/* ----------------------------- NAVIGATION BAR ----------------------------- */

nav {
    background-color: white;
    display: flex;
    height: 3rem;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav p {
    margin: 0;
}

nav div {
    display: block;
    float: left;
    text-align: center;
    padding: 3px 0;
    margin: 10px 3%;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
}

/* ------------------------------ ABOUT SECTION ----------------------------- */

.about {
    display: flex;
}

.about p {
    margin: 2px 0px;
}

.about div h1 {
    color: #C5283D;
    margin: 0;
    margin-block: none;
    margin-bottom: 10px;
    margin-top: 100px;
    font-size: 55pt;
}

.big-about-txt {
    font-size: 14pt;
}

.small-about-txt {
    font-size: 9pt;
}

.about-img {
    border-radius: 10px;
    background-image: url("/Assets/logo-javascript-svgrepo-com.svg");
    height: 490px;
    width: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px 600px;
}

.about-txt {
    width: 60%;
}

/* ---------------------------- PROJECTS SECTION ---------------------------- */
.projects {
    font-weight: lighter;
}

.all-projects {
    font-size: 8pt;
    margin: 0;
    margin-top: 30px;
}

/* ------------------------------ PROJECT TABLE ----------------------------- */
.project-cards {
    width: 100%;
    border-spacing: 20px;
}

.project-cards td {
    border-radius: 5px;
}

/* .project-cards tr>td+td {
    margin-left: 12px;
}

.project-cards tr+tr>td {
    margin-top: 15px;
} */

.project-cards h2 {
    width: 65%;
}

.project-cards p {
    width: 65%;
}

.card1 {
    background: url("/Assets/uFood Background.png");
    background-size: cover;
    background-position: center;
}

/* ------------------------------ MISC CLASSES ------------------------------ */

.shadow-0-2-10-black {
    box-shadow: 0px 2px 10px black;
}

.active::after {
    display: inline-block;
    content: '';
    height: 4px;
    width: 100%;
    margin-bottom: 9px;
    background: #C5283D;
    border-radius: 5px;
}

.title {
    width: fit-content;
    font-weight: 800;
    font-size: 2.5em;
    margin: 0;
    height: 60px;
}

.title::after {
    position: relative;
    z-index: -1;
    display: inline-block;
    content: '';
    height: 8px;
    width: 100%;
    bottom: 30px;
    background: #C5283D;
    border-radius: 5px;
}

.section-spacer {
    height: 20vh;
    width: 100%;
}